img
{
    vertical-align: bottom;
}
header h1 a
{
    display: block;
    font-size: 0;
}
body
{
    margin: 0;
    width: 100%;
    background-color: #ffffff;
}
ul
{
    padding: 0px;
}

/* ヘッダー */
header
{
    max-width: 960px;
    height: 270px;
    align-items: center;
    padding: 0 50px;
    display: flex;
    /* flexbox最初を開始点に、最後を終了点に、残りは均等に配置 */
    justify-content: space-between;
    margin: auto;
}

header a
{
    max-width: 100%;
}
header ul
{
    padding: 10px 0;
    font-size: 14.4px;
    display: flex;
    /* flexboxアイテムを等間隔に配置 */
    justify-content:space-around;
    list-style-type: none;
    width: 250px;
}
header ul li a
{
    color: #24292E;
    text-decoration:none;
}
header ul li a:hover 
{
    opacity: 0.7;
}
header ul img 
{
    width: 20px;
}

/* メイン */
main
{
    margin: auto;
}
main img
{
    width: 100%;
    object-fit: cover;
}
main .mainvisual 
{
    text-align : center
}
main .mainvisual img 
{
    max-width: 1920px;
    height: 420px;
    object-fit: cover;
    margin-bottom: 80px;
}
main #about
{
    margin: 0 auto 130px auto;
    padding: 0 54px;
}
main h2
{
    max-width: 960px;
    margin: auto;
    margin-bottom: 65px;
    text-align: center;
}
main #about ul
{
    margin: auto;
    margin-bottom: 30px;
    max-width: 960px;
    list-style-type: none;
}
/* ul内の最初の要素 */
main #about ul :first-child
{
    margin-bottom: 30px;
}
main .profile
{
    font-size: 14.4px;
    margin: auto;
    max-width: 960px;
}
main #work
{
    margin: 0 auto 130px auto;
    padding: 0 54px;
}
main #work ul
{
    max-width: 960px;
    margin: auto;
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    /* flexbox最初を開始点に、最後を終了点に、残りは均等に配置 */
    justify-content: space-between;
}
main #work li
{
    max-width: 30%;
    margin-bottom: 23px;
}

main #news
{
    max-width: 960px;
    margin:0 auto 130px auto;
    padding: 0 54px;
}

/* https://teratail.com/questions/366352 */
main #news dl
{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    width: 100%;
    border-top: solid 1px #c8c8c8;
}
main #news dt
{
    width: 20%;
    margin: 0;
    padding: 15px 0;
    font-size: 14.4px;
    border-bottom: solid 1px #c8c8c8;
}
main #news dd
{
    width: 80%;
    float: left;
    margin: 0;
    padding: 15px 0;
    font-size: 14.4px;
    border-bottom: solid 1px #c8c8c8;
}

main #contact
{
    max-width: 960px;
    margin:0 auto 130px auto;
    padding: 0 54px;
}

main #contact dl
{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
main #contact dt
{
    width: 15%;
    margin: 0;
    padding: 10px 0;
    font-size: 14.4px;
}
main #contact dd
{
    width: 75%;
    margin: 0;
    padding: 10px;
}

main #contact input
{
    width: 100%;
    height: 100%;
    border: solid 1px #c8c8c8
}
main #contact textarea
{
    width: 100%;
    height: 10rem;
    border: solid 1px #c8c8c8;
}
#contact .button 
{
text-align: center;
}
#contact .button input 
{
    width: 200px;
    background-color: #24292e;
    color: #fff;
    padding: 15px 0;
    border: solid 1px #24292e;
}
#contact .button input:hover 
{
    background: #fff;
    color: #24292e;
}

/* フッター */
footer
{
    background-color: #24292E;
    margin: 0;
    font-size: 0.5rem;
    padding: 10px 20px;
    color: #FFF;
    text-align: center;
}

/* スマホ画面 */
@media screen and (max-width:600px)
{
    /* ヘッダー */
    header 
    {
        height: auto;
        display: flex;
        flex-direction: column;
    }
    header h1
    {
        margin: 0;
    }

    header ul
    {
        font-size: 12.8px;
        margin: 0;
    }

    /* メイン */
    main
    {
        margin: 0;
        padding: 24px 24px 0 24px;
    }
    main .mainvisual img {
        max-width: 100%;
        height: auto;
    }
    main #about
    {
        margin: 0 0 70px;
    }
    main h2
    {
        margin-bottom: 40px;
    }
    main #about ul
    {
        padding: 0;
        font-size: 14.4px;
    }
    main #work
    {
        margin: 0 0 70px;
        padding: 0 24px;
    }
    main #work ul
    {
        max-width: 100%;
        padding: 0;
        flex-direction: column;
    }
    main #work li
    {
        max-width: 100%;
    }

    main #news
    {
        max-width: 100%;
        margin: 0;
        margin-bottom: 70px;
    }

    /* https://teratail.com/questions/366352 */
    main #news dl
    {
        flex-direction: column;
        border-top: solid 1px #c8c8c8;
    }
    main #news dt
    {
        width: 100%;
        padding: 15px 15px 0;
        box-sizing: border-box;
        border-bottom: none;
    }
    main #news dd
    {
        width: 100%;
        padding: 0 15px 15px;
        box-sizing: border-box;
    }

    main #contact
    {
        max-width: 100%;
        margin: 0 0 70px;
        padding: 0;
    }

    main #contact dl
    {
        flex-direction: column;
    }
    main #contact dt
    {
        width: 100%;
    }
    main #contact dd
    {
        width: 100%;
        padding: 0;
    }

    main #contact input
    {
        padding: 10px;
        box-sizing: border-box;
    }
    main #contact textarea
    {
        padding: 10px;
        box-sizing: border-box;
    }
    
    /* フッター */
    footer p
    {
        margin: 0;
    }
}

/* スマホ画面 */
@media screen and (min-width:1920px)
{
    /* ヘッダー */
    header
    {
        max-width: 50%;
    }
    main h2
    {
        max-width: 50%;
    }
    main .mainvisual 
    {
        max-width: 100%;
    }
    main .mainvisual img 
    {
        max-width: 100%;
        height: auto;
    }
    main #about ul
    {
        max-width: 50%;
    }
    main .profile
    {
        max-width: 50%;
    }
    main #work ul
    {
        max-width: 50%;
    }
    main #news
    {
        max-width: 50%;
    }
    main #contact
    {
        max-width: 50%;
    }
}
